<main>
  <div class="container" style="margin-top: 30px;">
    <form action="/medicine/create" method="POST">
      <div class="section1">
        <div class="row valign-wrapper" style="margin-bottom: 0px;">
          <div style="margin-left:10px;">
            <h5 style="font-weight:bold;">의약품 추가</h5>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin: 0 5px 5px 0;">
          <div class="input-field col s12">
            <input disabled id="last_name" type="text" class="validate" value="<%=@pre.title%>">
            <label for="last_name">처방전명</label>
          </div>
          <div class="input-field col s12">
            <input disabled id="last_name" type="text" class="validate" value="<%=@pre.hs_name%>">
            <label for="last_name">병원명</label>
          </div>
          <div class="input-field col s12">
            <input disabled id="last_name" type="text" class="validate" value="<%=@pre.cnt%>">
            <label for="last_name">투여횟수</label>
          </div>
          <div class="input-field col s12">
            <input disabled id="last_name" type="text" class="validate" value="<%=@pre.st_time%>">
            <label for="last_name">시작시간</label>
          </div>
        </div>
      </div>
      <div class="section1">
        <div class="row valign-wrapper" style="margin-bottom: 0px;">
          <div style="margin-left:20px;">
            <h6>의약품 검색</h6>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row valign-center" >
          <div class="col s12">
            <div class="row valign-wrapper">
              <div class="input-field col s12">
                <input id="ajax_call" type="text" class="autocomplete">
                <label for="first_name">의약품명을 입력</label>
              </div>
              <!-- <div class="col s3">
                <a id="ajax_btn" class="btn-floating btn-small waves-effect waves-light " style="margin-top:2px;"><i class="material-icons">add</i></a>
              </div> -->
            </div>
          </div>
          <div id="medi" class="col s12">
            <input type="hidden" id="hidden" name="id" value="<%=@pre.id%>">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s6 center-align">
          <a class="waves-effect waves-light btn">취소</a>
        </div>
        <div class="col s6 left-align">
          <button class="btn waves-effect waves-light submit" type="submit" name="action">완료
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
<script>
    var preload = "<div class='preloader-background'><div class='preloader-wrapper big active'><div class='spinner-layer spinner-blue-only'><div class='circle-clipper left'><div class'circle'></div></div><div class='gap-patch'><div class='circle'></div></div><div class='circle-clipper right'><div class='circle'></div></div></div></div></div>"
    $(".submit").on("click",function(e){
      $('body').prepend(preload)
    })
    hash=new Object;
    cnt = 0;
    list = "#m"
    // $("#ajax_btn").on('click',function(){
    $("#ajax_call").keydown(function(key){
      // if(key.keyCode == 13){
        $.ajax({
          method: "POST",
          url: "/medicine/api",
          data: {name: $("#ajax_call").val()}
        }).always(function(msg){
          // console.log("success");
        })
      // }
    });

</script>
